<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Inika&display=swap" rel="stylesheet" />
    <link href="./css/manue.css" rel="stylesheet" />
    <title>Vine</title>
</head>
<body>
    <div class="menu-container">
        <img src="./images/v2319_83.png" alt="" srcset="">
        <span class="menu-item" id="shop" onclick="go_shop()">SHOP</span>
        <span class="menu-item">EVENTS</span>
        <span class="menu-item">WINE CLUB</span>
        <span class="menu-item">CONTACT</span>
        <span class="menu-item1">VISIT</span>
        <span class="menu-item">CART</span>
        <span class="menu-item">ABOUT US</span>
        <span class="menu-item">LOG IN</span>
    </div>
    <script src="./js/manue.js"></script>
</body>
</html>