/* Styles for the menu container */
.menu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #333; Example background color */
    padding: 10px 0; /* Example padding */
}
img{
    height: 75px;
    width: 85px;
}

.menu-item {
    color: #fff;
    font-family: 'Inika', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
}

.menu-item:hover {
    text-decoration: underline;
}

.menu-item1{
    color: #875C47;
    font-family: 'Inika', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
}