.updated-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #f0f0f0; */
    padding: 3.5px;
}

.updated-inner {
    width: 20%;
    height: 20px;
    background-color: #ccc;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; 
}
.updated-inner1 {
    width: 20%;
    height: 20px;
    background-color: #875C47;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}